@mixin baton {
  width: fit-content;
  font-weight: bold;
  padding: 0.9em 2.1em;
  font-size: 1em;
  border: solid rgb(91, 92, 92) 1.8px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    opacity: 1;
    color: black;
    background: rgb(255, 255, 255);
  }
  &:active {
    opacity: 1;
    color: white;
    background: none;
  }
}

@mixin signupbutton {
  color: #f8f8f8;
  opacity: 0.6;
  width: fit-content;
  font-weight: 200;
  padding: 0.9em 2.7em;
  font-size: 1.2em;
  border: none;
  background: rgb(82, 82, 82);
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    opacity: 1;
    color: rgb(255, 255, 255);
    background: rgb(49, 49, 49);
  }
  &:active {
    opacity: 1;
    color: rgb(32, 32, 32);
    background: none;
  }
}

@mixin darksignupbutton {
  color: #f8f8f8;
  width: fit-content;
  font-weight: 200;
  padding: 0.9em 2em;
  font-size: 1.2em;
  border: none;
  background: rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;

  &:hover {
    color: rgb(255, 255, 255);
    background: rgb(49, 49, 49);
  }
  &:active {
    color: rgb(32, 32, 32);
    background: none;
  }
}