@use './mixin' as *;

@media only screen and (max-width: 530px) {
  .NavBar {
    padding: 1em 1em;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 10000;
    color: #dddddd;

    button .mens {
      display: inline-block;
    }

    .container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0 0em;
      padding-bottom: 1.1em;
      //border-bottom: solid rgb(156, 156, 156) 1px;

      .rightboy {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: right;
        gap: 10em;

        .logo {
          padding: 0;
          padding-top: 5px;
          display: flex;
          align-items: center;

          .logoimage {
            width: 4em;
          }
        }
      }

      .closedNav {
        display: none;
        font-weight: lighter;
        text-shadow: 4px 3px 5px rgba(0, 0, 0, 1);
      }

      .navigation {
        z-index: 900000000000000;
        display: flex;
        font-weight: lighter;
        text-shadow: 4px 3px 5px rgba(0, 0, 0, 1);
        position: fixed;
        top: -1em;
        right: 0;
        flex-direction: column;
        background: #fff;
        padding: 2em;
        height: 100%;
        width: 100%;
        padding-top: 0;

        .womens {
          display: inline-block;
          position: absolute;
          top: 18px;
          right: 20px;
        }
      }

      .getstarted {
        display: none;
      }
    }
  }

  .Nav {
    padding: 0.5em 3.1em;
    padding-bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100000000000;
    background-color: #ffffff;

    .olodo {
      display: none;
    }

    .container {
      display: flex;
      justify-content: space-between;
      padding: 0 0.1em;
      padding-right: 1em;
      align-items: center;

      .rightboy {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .sololink {
          font-weight: 100;
        }

        .logo {
          padding: 0;
          padding-top: 5px;
          display: flex;
          align-items: center;

          .logoimage {
            height: 3em;
            zoom: 1.3;
            margin: 0.7em 0;
          }
        }
      }

      .closedNav {
        cursor: pointer;
        color: rgb(37, 37, 37);
        display: flex;
        gap: 3em;
        font-weight: lighter;
        padding: 0;
        justify-content: left;
        align-items: center;
      }

      .getstarted {
        display: none;
        align-items: center;
        gap: 1.5em;
        transition: ease-in-out 2s;

        .getStarted {
          @include baton();
          font-weight: lighter;
          border: none;
          transition: linear 0.2s;
          opacity: 0.7;

          &:hover {
            opacity: 1;
            color: rgb(37, 37, 37);
            background: none;
          }
        }
      }
    }

    .mens {
      display: block;
      &:hover {
        .ops {
          height: 4px;
        }
      }
    }

    .womens {
      display: none;
    }
  }

  .banner {
  background-color: rgb(1, 145, 145);
  padding: 1em 0.5em;
  font-size: 1.1em;
  font-weight: 200;
  position: relative;
  .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5em;
    span {
      color: #f5f5f5;
      text-align: center;
    }
    button {
      display: flex;
      align-items: center;
      position: absolute;
      top: 5px;
      right: 40%;
      svg {
        scale: 0.5;
      }
    }
  }
}

.BigCaro {
  position: relative;
  max-height: min-content;
  img {
    width: 100%;
    //height: 50em;
  }
  button {
    @include signupbutton;
    scale: 1;
  }

  .rootbeer {
    position: absolute;
    top: 12.2em;
    left: 56em;
    padding: 2em;
    padding-top: 8px;
    display: flex;
    flex-direction: column;

    h1 {
      font-weight: 100;
      margin: 0;
      font-size: 5em;
      line-height: 90%;
      color: #e7e7e7;
      text-shadow: 1px 1px 5px #3b3b3b;
    }
    span {
      cursor: default;
      font-size: 1.3em;
      margin-top: 0.5em;
      color: #e7e7e7;
      text-shadow: 1px 1px 4px #2b2b2b;
    }
    button {
      margin-top: 2em;
      font-weight: 100;
      color: #3d3d3d;
      background-color: white;
      box-shadow: 1px 1px 4px #2b2b2b;
    }
  }
}
}