@import "./mixin";

@media only screen and (max-width: 530px) {
  * {
    font-size: 0.9em;
  }

  html {
    scroll-behavior: auto;
  }

  body {
    font-size: 0.75em;
    padding: 0;
    margin: 0;
  }

  .NavBar {
    padding: 1em 1em;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 10000;
    color: #dddddd;

    button .mens {
      display: inline-block;
    }

    .container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding: 0 0em;
      padding-bottom: 1.1em;

      .rightboy {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: right;
        gap: 10em;

        .logo {
          padding: 0;
          padding-top: 5px;
          display: flex;
          align-items: center;

          .logoimage {
            width: 4em;
          }
        }
      }

      .closedNav {
        display: none;
        font-weight: lighter;
        text-shadow: 4px 3px 5px rgba(0, 0, 0, 1);
      }

      .navigation {
        z-index: 900000000000000;
        display: flex;
        font-weight: lighter;
        text-shadow: 4px 3px 5px rgba(0, 0, 0, 1);
        position: fixed;
        top: -1em;
        right: 0;
        flex-direction: column;
        background: #fff;
        padding: 2em;
        height: 100%;
        width: 100%;
        padding-top: 0;

        .womens {
          display: inline-block;
          position: absolute;
          top: 18px;
          right: 20px;
        }
      }

      .getstarted {
        display: none;
      }
    }
  }

  .Nav {
    padding: 0.5em 1em;
    padding-bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100000000000;
    background-color: #ffffff;

    .olodo {
      display: none;
    }

    .container {
      display: flex;
      justify-content: space-between;
      padding: 0 0.1em;
      padding-right: 1em;
      align-items: center;

      .float {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .sololink {
          font-weight: 100;
          font-size: 0.8em;
        }

        .logo {
          padding: 0;
          padding-top: 5px;
          display: flex;
          align-items: center;

          .logoimage {
            height: 2em;
            zoom: 1;
            margin: 0.5em 0;
          }
        }
      }

      .closedNav {
        cursor: pointer;
        color: rgb(37, 37, 37);
        display: flex;
        gap: 1em;
        font-weight: lighter;
        padding: 0;
        justify-content: left;
        align-items: center;
        font-size: 0.9em;
      }

      .getstarted {
        display: none;
      }
    }

    .mens {
      display: block;
    }

    .womens {
      display: none;
    }
  }

  .banner {
    background-color: rgb(1, 145, 145);
    padding: 1.5em 0.5em;
    font-size: 0.9em;
    font-weight: 200;
    position: relative;

    .cont {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1.5em;
      flex-direction: column;

      span {
        color: #f5f5f5;
        text-align: center;
        font-size: 0.85em;
        line-height: 1.3;
      }

      button {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 0.5em;

        svg {
          scale: 0.4;
        }
      }
    }
  }

  .oho {
    padding-top: 5em;
  }

  .BigCaro {
    position: relative;
    max-height: min-content;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .rootbeer {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 90%;

      h1 {
        font-weight: 100;
        margin: 0;
        font-size: 2em;
        line-height: 100%;
        color: #e7e7e7;
        text-shadow: 1px 1px 3px #3b3b3b;
      }

      span {
        font-size: 0.9em;
        margin-top: 0.5em;
        color: #e7e7e7;
        text-shadow: 1px 1px 2px #2b2b2b;
      }

      .wrap {
        width: 100%;
      }

      .bot {
        font-size: 0.8em;
        margin-top: 1em;
        flex-direction: column;
        gap: 0.5em;

        span {
          position: static;
          display: block;
          font-size: 0.85em;
        }
      }

      button {
        margin-top: 1.2em;
        padding: 0.6em 1.2em;
        font-size: 0.9em;
        font-weight: 100;
        color: #3d3d3d;
        background-color: white;
        box-shadow: 1px 1px 3px #2b2b2b;
      }
    }
  }

  .BigSplit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 2em 1em;

    img {
      width: 100%;
      height: auto;
      order: -1;
    }

    .bgcircle {
      display: none;
    }

    .RightBoy {
      width: 100%;
      text-align: center;

      h1 {
        font-size: 1.8em;
        margin: 0 0 1em 0;
        font-weight: 200;

        span {
          display: block;
          font-size: 0.9em;
          margin-top: 0.5em;
        }
      }

      button {
        padding: 0.6em 1.2em;
        font-size: 0.9em;
      }
    }
  }

  .wnsection {
    padding: 2em 1em;

    .header {
      gap: 1em;

      h1 {
        font-size: 1.5em;
      }

      button {
        font-size: 0.8em;
        padding: 0.5em 1em;
      }

      span {
        font-size: 0.8em;
        br {
          display: none;
        }
      }
    }

    .showcase {
      gap: 1em;
      flex-direction: column;

      .imgCont {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }

        button {
          padding: 0.6em 1.2em;
          font-size: 0.9em;
        }
      }
    }
  }

  .showgreen {
    right: 1.5em;
    bottom: 2em;
    width: 45px;
    height: 45px;
  }

  button {
    font-size: 0.9em;
    padding: 0.6em 1em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: 0.95em;
  }

  .themebutton1 {
    padding: 0.6em 1.2em;
    font-size: 0.85em;
  }
}