@import "./mixin";

@media only screen and (max-width: 530px) {
  * {
    font-size: 0.9em;
  }

  html {
    scroll-behavior: auto;
  }

  body {
    font-size: 0.75em;
    padding: 0;
    margin: 0;
  }

  .Nav {
    padding: 0.5em 1em;
    padding-bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100000000000;
    background-color: yellow;

    .container {
      display: flex;
      justify-content: center;
      padding: 0 0.1em;
      padding-right: 1em;
      align-items: center;
      background: pink;

      .float {
        padding: 0;
        background: lightblue; 
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;

        .logo {
          height: max-content;
          padding: 0;
          padding-top: 0;
          display: flex;
          align-items: center;
          height: 14em;

          .logoimage {
            height: 10em;
            zoom: 1.9;
            margin: 0;
          }
        }
      }

    }
  }

  .oho {
    padding-top: 5em;
  }

  .BigCaro {
    position: relative;
    max-height: min-content;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .rootbeer {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 90%;

      h1 {
        font-weight: 100;
        margin: 0;
        font-size: 2em;
        line-height: 100%;
        color: #e7e7e7;
        text-shadow: 1px 1px 3px #3b3b3b;
      }

      span {
        font-size: 0.9em;
        margin-top: 0.5em;
        color: #e7e7e7;
        text-shadow: 1px 1px 2px #2b2b2b;
      }

      .wrap {
        width: 100%;
      }

      .bot {
        font-size: 0.8em;
        margin-top: 1em;
        flex-direction: column;
        gap: 0.5em;

        span {
          position: static;
          display: block;
          font-size: 0.85em;
        }
      }

      button {
        margin-top: 1.2em;
        padding: 0.6em 1.2em;
        font-size: 0.9em;
        font-weight: 100;
        color: #3d3d3d;
        background-color: white;
        box-shadow: 1px 1px 3px #2b2b2b;
      }
    }
  }

  .BigSplit {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 2em 1em;

    img {
      width: 100%;
      height: auto;
      order: -1;
    }

    .bgcircle {
      display: none;
    }

    .RightBoy {
      width: 100%;
      text-align: center;

      h1 {
        font-size: 1.8em;
        margin: 0 0 1em 0;
        font-weight: 200;

        span {
          display: block;
          font-size: 0.9em;
          margin-top: 0.5em;
        }
      }

      button {
        padding: 0.6em 1.2em;
        font-size: 0.9em;
      }
    }
  }

  .wnsection {
    padding: 2em 1em;

    .header {
      gap: 1em;

      h1 {
        font-size: 1.5em;
      }

      button {
        font-size: 0.8em;
        padding: 0.5em 1em;
      }

      span {
        font-size: 0.8em;
        br {
          display: none;
        }
      }
    }

    .showcase {
      gap: 1em;
      flex-direction: column;

      .imgCont {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }

        button {
          padding: 0.6em 1.2em;
          font-size: 0.9em;
        }
      }
    }
  }

  .showgreen {
    right: 1.5em;
    bottom: 2em;
    width: 45px;
    height: 45px;
  }

  button {
    font-size: 0.9em;
    padding: 0.6em 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 0.95em;
  }

  .themebutton1 {
    padding: 0.6em 1.2em;
    font-size: 0.85em;
  }
}
