@import "./mixin";

@media only screen and (max-width: 530px) {
  * {
    font-size: 0.9em;
  }

  html {
    scroll-behavior: auto;
  }

  body {
    font-size: 0.75em;
    padding: 0;
    margin: 0;
  }

  .Nav {
    padding: 0.5em 1em;
    padding-bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100000000000;
    background-color: white;

    .container {
      display: flex;
      justify-content: center;
      padding: 0 0.1em;
      padding-right: 1em;
      align-items: center;
      // background: pink;

      .float {
        padding: 0;
        //background: lightblue;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
          padding: 0;
          padding-top: 0;
          display: flex;
          align-items: center;

          .logoimage {
            height: 10em;
            zoom: 1.3;
            padding: 1.5em;
            margin: 0;
          }
        }
      }
    }
  }

  .oho {
    padding-top: 7em;
    margin-bottom: 75em;
  }

  .BigCaro {
    position: relative;
    max-height: min-content;

    img {
      width: 100%;
      height: auto;
      display: block;
    }

    .rootbeer {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
      padding: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 90%;

      h1 {
        font-weight: 100;
        margin: 0;
        font-size: 10em;
        line-height: 100%;
        color: #e7e7e7;
        text-shadow: 1px 1px 3px #3b3b3b;
      }

      span {
        font-size: 2.3em;
        margin-top: 0.5em;
        color: #e7e7e7;
        text-shadow: 1px 1px 2px #2b2b2b;
      }

      .wrap {
        width: 100%;
      }

      .bot {
        font-size: 2.3em;
        margin-top: 1em;
        flex-direction: column;
        gap: 0;

        span {
          position: static;
          display: block;
          font-size: 0.85em;
        }
      }

      button {
        margin-top: 1.2em;
        padding: 0.6em 1.2em;
        font-size: 2.4em;
        font-weight: 100;
        color: #3d3d3d;
        background-color: white;
        box-shadow: 1px 1px 3px #2b2b2b;
      }
    }
  }

  .BigSplit {
    display: flex;
    flex-direction: column;
    padding: 4em 0 4em;
    position: relative;
    margin-top: 23em;
    img {
      object-fit: cover;
      object-position: top;
      width: 65em;
      //height: 50em;
      border-radius: 1em;
      margin-right: 0;
      z-index: -1;
      box-shadow: 2px 2px 9px #3b3b3b;
    }

    .RightBoy {
      background: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2em 0 0 0;

      h1 {
        text-align: center;
        font-size: 5em;
        margin-bottom: 0;
        color: rgb(24, 24, 24);
        text-shadow: none;
        span {
          color: #68b591;
          text-align: center;
          display: block;
        }
      }
      .bot {
        position: relative;
        display: block;
        font-size: 2.5em;
        gap: 10px;
        margin-top: 1em;
        cursor: default;
        color: #1d1d1d;
        text-shadow: none;
        text-align: center;
      }

      .buttonHolder {
        margin: 0;
        display: flex;
        justify-content: center;
        gap: 20px;
        padding: 0;
        margin-top: 3em;
      }
      button {
        @include baton();
        font-size: 2.6em;
        background-color: #68b591;
        border: none;
        opacity: 1;
        color: white;
        box-shadow: 1px 2px 9px #6d6d6d;
      }
    }
  }

  .showgreen {
    right: 1.5em;
    bottom: 2em;
    width: 45px;
    height: 45px;
    display: none;
  }

  button {
    font-size: 0.9em;
    padding: 0.6em 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 0.95em;
  }

  .themebutton1 {
    padding: 0.6em 1.2em;
    font-size: 0.85em;
  }

  .Footsy {
    // position: absolute;
    // bottom: 0;
    // padding-bottom: 19em;
    padding-top: 10px;

    * {
      color: rgb(219, 219, 219);
    }

    li {
      cursor: pointer;
    }

    .containerT {
      display: flex;
      flex-direction: column;
      gap: 8em;
      padding: 12em 3em;
      background-color: #5377ac;
      width: 100%;
      text-align: center;

      .right {
        display: flex;
        justify-content: center;
        gap: 9em;
        text-align: center;
        ul {
          display: flex;
          flex-direction: column;
          justify-content: left;
          text-align: center;
          gap: 2.3em;
          padding: 1em;
          span {
            cursor: pointer;
            color: #fafafa;
            font-size: 2.6em;
            font-weight: 200;
            margin-bottom: 5px;
            text-align: center;
            margin-bottom: 10px;
          }
          li {
            font-size: 2em;
            text-align: center;
            color: #fafafa;
          }
        }
      }
      .vought3 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        text-align: center;
        gap: 2.3em;
        padding: 1em;
        span {
          cursor: pointer;
          color: #fafafa;
          font-size: 2.6em;
          font-weight: 200;
          margin-bottom: 5px;
          text-align: center;
          margin-bottom: 10px;
        }
        li {
          font-size: 2em;
          text-align: center;
          color: #fafafa;
        }
      }
    }

    .containerB {
      background: black;
      padding-top: 10em;
      padding-bottom: 10em;
      .float {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .topDawg {
          margin-bottom: 2.3em;
          cursor: default;
        }
        span {
          font-size: 2em;
          cursor: default;
          color: #8a8a8a;
          display: block;
          width: 70%;
          line-height: 1.5em;
          margin-top: 0.9em;
          text-align: center;
        }

        .u {
          cursor: pointer;
          text-decoration: underline;

          &:hover {
            color: #3d3d3d;
          }
        }
      }
    }
  }
}

.theme-toggle {
  display: none;
}
