* {
  font-family: "Centra", sans-serif !important;
  box-sizing: border-box;
  list-style: none;
  color: rgb(37, 37, 37);
  transition: all 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  font-weight: 300;
  scroll-behavior: smooth;
  transition: ease 0.2s;
  font-size: 0.8em;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Centra;
  src: url(../Resources/font/CentraNo2-Bold.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Centra;
  src: url(../Resources/font/CentraNo2-Medium.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Centra;
  src: url(../Resources/font/CentraNo2-Book.ttf);
  font-weight: 300;
}
.Nav {
  padding: 0.5em 6em;
  padding-bottom: 0;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 100000000000;
  background-color: #ffffff;
}
.Nav .olodo {
  font-size: 1.3em;
}
.Nav .container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.1em;
  padding-right: 1.3em;
  align-items: center;
}
.Nav .container .rightboy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.Nav .container .rightboy .sololink {
  font-weight: 100;
}
.Nav .container .rightboy .logo {
  padding: 0;
  padding-top: 5px;
  display: flex;
  align-items: center;
}
.Nav .container .rightboy .logo .logoimage {
  height: 3em;
  zoom: 1.3;
  margin: 0.7em 0;
}
.Nav .container .closedNav {
  cursor: pointer;
  color: rgb(37, 37, 37);
  display: flex;
  gap: 3em;
  font-weight: lighter;
  padding: 0;
  justify-content: left;
  align-items: center;
}
.Nav .container .getstarted {
  display: flex;
  align-items: center;
  gap: 1.5em;
  transition: ease-in-out 2s;
}
.Nav .container .getstarted .getStarted {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 0.9em 2.1em;
  font-size: 1em;
  border: solid rgb(91, 92, 92) 1.8px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  font-weight: lighter;
  border: none;
  transition: linear 0.2s;
  opacity: 0.7;
}
.Nav .container .getstarted .getStarted:hover {
  opacity: 1;
  color: black;
  background: rgb(222, 225, 228);
}
.Nav .container .getstarted .getStarted:active {
  opacity: 1;
  color: white;
  background: none;
}
.Nav .container .getstarted .getStarted:hover {
  opacity: 1;
  color: rgb(37, 37, 37);
  background: pink;
}
.Nav .mens {
  display: block;
}
.Nav .mens:hover .ops {
  height: 4px;
}
.Nav .womens {
  display: none;
}

.bag {
  width: 30px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}

#scrollo {
  background: none;
}
#scrollo .olodo {
  font-size: 1.3em;
  position: fixed;
  right: 6.3em;
  top: 2.4em;
  font-weight: 100;
  background-color: white;
  box-shadow: 1px 1px 4px #2b2b2b;
  color: black;
  opacity: 0.9;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 200;
  padding: 0.9em 2.7em;
  font-size: 1.2em;
  border: none;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
#scrollo .olodo:hover {
  opacity: 0.7;
  color: white;
  background: black;
}
#scrollo .olodo:active {
  opacity: 1;
  color: rgb(32, 32, 32);
  background: none;
}
#scrollo .container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.1em;
  padding-right: 1.3em;
  align-items: center;
}
#scrollo .container .rightboy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#scrollo .container .rightboy .sololink {
  font-weight: 100;
}
#scrollo .container .rightboy .logo {
  padding: 0;
  padding-top: 5px;
  display: none;
  align-items: center;
}
#scrollo .container .rightboy .logo .logoimage {
  height: 3em;
  zoom: 1.3;
  margin: 0.7em 0;
}
#scrollo .container .closedNav {
  cursor: pointer;
  color: rgb(37, 37, 37);
  display: flex;
  gap: 3em;
  font-weight: lighter;
  padding: 0;
  justify-content: left;
  align-items: center;
}
#scrollo .container .getstarted {
  display: flex;
  align-items: center;
  gap: 1.5em;
  transition: ease-in-out 2s;
}
#scrollo .container .getstarted .getStarted {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 0.9em 2.1em;
  font-size: 1em;
  border: solid rgb(91, 92, 92) 1.8px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  font-weight: lighter;
  border: none;
  transition: linear 0.2s;
  opacity: 0.7;
}
#scrollo .container .getstarted .getStarted:hover {
  opacity: 1;
  color: black;
  background: rgb(222, 225, 228);
}
#scrollo .container .getstarted .getStarted:active {
  opacity: 1;
  color: white;
  background: none;
}
#scrollo .container .getstarted .getStarted:hover {
  opacity: 1;
  color: rgb(37, 37, 37);
  background: pink;
}
#scrollo .mens {
  display: none;
}
#scrollo .mens:hover .ops {
  height: 4px;
}
#scrollo .womens {
  display: none;
}

button {
  background: none;
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.navbar-link {
  cursor: pointer;
  font-size: 0.9em;
  opacity: 0.6;
  transition: 0.1s ease-in-out;
}
.navbar-link:hover {
  opacity: 1;
}

.linky {
  opacity: 0.8;
  cursor: pointer;
}
.linky:hover {
  opacity: 1;
}

.inactive {
  cursor: pointer;
  opacity: 0.7;
}

.active {
  cursor: pointer;
  opacity: 1;
  padding: 1.4px 2px;
}

.oho {
  padding-top: 7.1em;
  background: #ffffff;
}

.banner {
  background-color: black;
  padding: 1em 0.5em;
  font-size: 1.1em;
  font-weight: 200;
  position: relative;
}
.banner .cont {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner .cont span {
  color: #f5f5f5;
}
.banner .cont button {
  display: flex;
  align-items: center;
  position: absolute;
  top: 4px;
  right: 13px;
}
.banner .cont button svg {
  scale: 0.5;
}

.noshow {
  display: none;
}

.showgreen {
  cursor: pointer;
  z-index: 1000000000000000000000;
  display: block;
  position: fixed;
  right: 7em;
  bottom: 3em;
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.showgreen:hover {
  background-color: rgb(0, 68, 68);
}

.BigCaro {
  position: relative;
  max-height: -moz-min-content;
  max-height: min-content;
}
.BigCaro img {
  width: 100%;
}
.BigCaro button {
  color: #f8f8f8;
  opacity: 0.6;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 200;
  padding: 0.9em 2.7em;
  font-size: 1.2em;
  border: none;
  background: rgb(82, 82, 82);
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  scale: 1;
}
.BigCaro button:hover {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  background: rgb(49, 49, 49);
}
.BigCaro button:active {
  opacity: 1;
  color: rgb(32, 32, 32);
  background: none;
}
.BigCaro .rootbeer {
  position: absolute;
  top: 9.2em;
  left: 18em;
  padding: 2em;
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.BigCaro .rootbeer h1 {
  text-align: center;
  font-weight: 100;
  margin: 0;
  font-size: 5em;
  line-height: 90%;
  color: #e7e7e7;
  text-shadow: 1px 1px 5px #3b3b3b;
}
.BigCaro .rootbeer .bot {
  font-size: 1.5em;
}
.BigCaro .rootbeer span {
  cursor: default;
  font-size: 1.3em;
  margin-top: 2.5em;
  color: #e7e7e7;
  text-shadow: 1px 1px 4px #2b2b2b;
}
.BigCaro .rootbeer button {
  font-size: 1em;
  margin-top: 2em;
  font-weight: 100;
  color: #3d3d3d;
  background-color: white;
  box-shadow: 1px 1px 4px #2b2b2b;
}

.LinkBar {
  background: #f7f7f7;
  box-shadow: 1px 1px 1px #e7e7e7;
  padding: 0.5em 6em;
}
.LinkBar ul {
  display: flex;
  justify-content: space-between;
  font-weight: 200;
  opacity: 0.8;
}

.CardA {
  cursor: pointer;
  margin: 0;
  border-radius: 1em;
  padding: 1em 10px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  scale: 0.9;
}
.CardA:hover {
  z-index: 100000000;
  scale: 1;
}
.CardA .smaller-box .top {
  display: flex;
  flex-direction: column;
  width: 13em;
  margin-bottom: 1.2em;
}
.CardA .smaller-box .top img {
  width: 15em;
  height: 18em;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3px;
  box-shadow: 0px 1px 4px #b8b7b7;
}
.CardA .smaller-box .bottom {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.CardA .smaller-box .bottom .one {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.CardA .smaller-box .bottom .one .left {
  display: flex;
  flex-direction: column;
}
.CardA .smaller-box .bottom .one .left .big {
  font-size: 1.05em;
  font-weight: 200;
  text-align: left;
}
.CardA .smaller-box .bottom .one .left .small {
  font-size: 1em;
  text-align: left;
}
.CardA .smaller-box .bottom .one .right {
  font-weight: 200;
  font-size: 1.2em;
  text-align: left;
}
.CardA .smaller-box .bottom .two {
  display: flex;
  justify-content: left;
  align-items: left;
  order: -1;
  margin-bottom: 7px;
}
.CardA .smaller-box .bottom .two .left .color-box {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
}
.CardA .smaller-box .bottom .two .left .color-box .circle {
  width: 1.1em;
  height: 1.1em;
  border-radius: 50%;
}
.CardA .smaller-box .bottom .two .left .color-box .R {
  background-color: rgb(255, 244, 149);
}
.CardA .smaller-box .bottom .two .left .color-box .B {
  background-color: rgb(107, 43, 5);
}
.CardA .smaller-box .bottom .two .left .color-box .A {
  background-color: #383838;
}

.wnsection {
  margin-top: 6em;
}
.wnsection .header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}
.wnsection .header h1 {
  letter-spacing: 1px;
  font-size: 2.7em;
}
.wnsection .header button {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 0.9em 2.1em;
  font-size: 1em;
  border: solid rgb(91, 92, 92) 1.8px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  position: absolute;
  top: 2em;
  right: 4em;
}
.wnsection .header button:hover {
  opacity: 1;
  color: black;
  background: rgb(222, 225, 228);
}
.wnsection .header button:active {
  opacity: 1;
  color: white;
  background: none;
}
.wnsection .showcase {
  display: flex;
  padding: 0 3em;
}
.wnsection .showcase .imgCont {
  position: relative;
  width: 50em;
  height: 27em;
}
.wnsection .showcase .imgCont img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom 3;
     object-position: bottom 3;
  width: 100%;
  height: 100%;
}
.wnsection .showcase .imgCont button {
  color: #f8f8f8;
  opacity: 0.6;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 200;
  padding: 0.9em 2.7em;
  font-size: 1.2em;
  border: none;
  background: rgb(82, 82, 82);
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  color: rgb(136, 136, 136);
  background: rgb(236, 236, 236);
  position: absolute;
  left: 35%;
  bottom: 8%;
}
.wnsection .showcase .imgCont button:hover {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  background: rgb(49, 49, 49);
}
.wnsection .showcase .imgCont button:active {
  opacity: 1;
  color: rgb(32, 32, 32);
  background: none;
}
.wnsection .showcase .imgCont button:hover {
  box-shadow: 2px 2px 12px #c7c7c7;
}
.wnsection .showcase .products {
  display: flex;
  margin-left: 1em;
  gap: 1.5em;
}

.horsy {
  margin-top: 0;
  padding-top: 9em;
  position: relative;
  overflow: hidden;
}
.horsy .header button {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 0.9em 2.1em;
  font-size: 1em;
  border: solid rgb(91, 92, 92) 1.8px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  position: absolute;
  top: 2em;
  left: 5em;
}
.horsy .header button:hover {
  opacity: 1;
  color: black;
  background: rgb(222, 225, 228);
}
.horsy .header button:active {
  opacity: 1;
  color: white;
  background: none;
}
.horsy .bgcircle {
  position: absolute;
  top: 5em;
  right: -4em;
  opacity: 0.3;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  background: #8d9ba8;
}
.horsy .showcase {
  display: flex;
  gap: 1.7em;
}
.horsy .showcase .imgCont {
  position: relative;
  width: 33em;
  height: 27em;
}
.horsy .showcase .imgCont img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom 3;
     object-position: bottom 3;
  width: 100%;
  height: 100%;
}
.horsy .showcase .imgCont button {
  color: #f8f8f8;
  opacity: 0.6;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 200;
  padding: 0.9em 2.7em;
  font-size: 1.2em;
  border: none;
  background: rgb(82, 82, 82);
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
  color: rgb(136, 136, 136);
  background: rgb(236, 236, 236);
  position: absolute;
  left: 25%;
  bottom: 8%;
}
.horsy .showcase .imgCont button:hover {
  opacity: 0.7;
  color: rgb(255, 255, 255);
  background: rgb(49, 49, 49);
}
.horsy .showcase .imgCont button:active {
  opacity: 1;
  color: rgb(32, 32, 32);
  background: none;
}
.horsy .showcase .imgCont button:hover {
  box-shadow: 2px 2px 12px #c7c7c7;
}
.horsy .showcase .products {
  display: flex;
  margin-left: 1em;
  gap: 1.5em;
}

.kross {
  width: 50px;
  height: 50px;
}
.kross .thefirst {
  transform: rotate(45deg);
}
.kross .thesecond {
  display: none;
}
.kross .thethird {
  transform: rotate(-45deg);
}

.BigSplit {
  display: flex;
  padding: 4em 0 4em;
  position: relative;
}
.BigSplit .bgcircle {
  z-index: 1;
  position: absolute;
  bottom: -6em;
  left: -15em;
  opacity: 0.3;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  background: #8d9ba8;
}
.BigSplit img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 55em;
  height: 30em;
  z-index: 900;
}
.BigSplit .RightBoy {
  background: #ebebeb;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 5em 0 0 5em;
}
.BigSplit .RightBoy h1 {
  text-align: left;
  font-size: 2.7em;
}
.BigSplit .RightBoy h1 span {
  text-align: left;
  display: block;
}
.BigSplit .RightBoy button {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 0.9em 2.1em;
  font-size: 1em;
  border: solid rgb(91, 92, 92) 1.8px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.BigSplit .RightBoy button:hover {
  opacity: 1;
  color: black;
  background: rgb(222, 225, 228);
}
.BigSplit .RightBoy button:active {
  opacity: 1;
  color: white;
  background: none;
}

.Bb .header {
  margin-bottom: 3em;
}
.Bb .header h1 {
  margin-bottom: 0.5em;
  font-size: 3em;
}
.Bb .header span {
  color: #6d6d6d;
  font-size: 1.1em;
}
.Bb .header button {
  top: 4em;
}

.Be {
  padding-bottom: 7em;
}
.Be .header {
  display: block;
  text-align: center;
}
.Be .header .img {
  display: block;
}
.Be .header span {
  display: block;
}
.Be .showcase {
  display: flex;
  gap: 3em;
  justify-content: center;
}

.modal {
  position: absolute;
  top: 1.1em;
  width: 100%;
  height: 100%;
  background: #ffffff;
  color: #383838;
  padding: 5em;
  padding-left: 0;
}
.modal .smaller-box {
  height: 100%;
  display: flex;
  gap: 25%;
  align-items: center;
}
.modal .smaller-box .leftSlim {
  height: 100%;
  position: relative;
}
.modal .smaller-box .leftSlim .barz {
  position: absolute;
  right: 0;
  top: 0;
  background-color: #d8d8d8;
  height: 120em;
  width: 2px;
}
.modal .smaller-box .leftSlim .left {
  height: 100%;
  padding-top: 2em;
}
.modal .smaller-box .leftSlim .left ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px 0;
  padding-top: 6px;
  padding-bottom: 3em;
  gap: 3px;
  font-size: 1.2em;
  height: 100%;
}
.modal .smaller-box .leftSlim .left ul li {
  font-weight: 100;
  cursor: pointer;
  padding: 6px 3em;
  padding-right: 6em;
  text-align: left;
  display: flex;
}
.modal .smaller-box .leftSlim .left ul li:hover {
  background: #ebebeb;
}
.modal .smaller-box .leftSlim .left ul .colored {
  padding: 0;
  padding-right: 6em;
  display: flex;
  gap: 2.5em;
  align-items: center;
}
.modal .smaller-box .leftSlim .left ul .colored .bar {
  background: rgb(115, 212, 250);
  height: 2.3em;
  width: 0.4em;
}
.modal .smaller-box .leftSlim .left ul .colored:hover {
  background: rgb(214, 237, 247);
}
.modal .smaller-box .leftSlim .left ul .darkgreen .bar {
  background: rgb(3, 190, 3);
}
.modal .smaller-box .leftSlim .left ul .darkgreen:hover {
  background: rgb(200, 248, 200);
}
.modal .smaller-box .leftSlim .left ul .purple .bar {
  background: rgb(172, 3, 172);
}
.modal .smaller-box .leftSlim .left ul .purple:hover {
  background: rgb(247, 193, 247);
}
.modal .smaller-box .leftSlim .left ul .yellow .bar {
  background: rgb(255, 255, 11);
}
.modal .smaller-box .leftSlim .left ul .yellow:hover {
  background: rgb(241, 241, 157);
}
.modal .smaller-box .leftSlim .left ul .darkblue .bar {
  background: rgb(62, 62, 253);
}
.modal .smaller-box .leftSlim .left ul .darkblue:hover {
  background: rgb(176, 176, 255);
}
.modal .smaller-box .leftSlim .left ul .ashy .bar {
  background: grey;
}
.modal .smaller-box .leftSlim .left ul .ashy:hover {
  background: rgb(170, 170, 170);
}
.modal .smaller-box .leftSlim .left ul .lightpink .bar {
  background: pink;
}
.modal .smaller-box .leftSlim .left ul .lightpink:hover {
  background: rgb(248, 209, 216);
}

.Footsy {
  padding-top: 10px;
}
.Footsy * {
  color: rgb(219, 219, 219);
}
.Footsy li {
  cursor: pointer;
}
.Footsy .containerT {
  display: flex;
  justify-content: center;
  padding: 1.7em 3em;
  width: 100%;
  text-align: center;
}
.Footsy .containerT .right {
  display: flex;
  justify-content: center;
  gap: 6em;
  text-align: center;
}
.Footsy .containerT .right ul {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  gap: 1.1em;
  padding: 1em;
}
.Footsy .containerT .right ul span {
  cursor: pointer;
  color: #6d6d6d;
  font-size: 1.3em;
  font-weight: 200;
  margin-bottom: 5px;
  text-align: left;
  margin-bottom: 10px;
}
.Footsy .containerT .right ul li {
  font-size: 1em;
  text-align: left;
  color: #6d6d6d;
}
.Footsy .containerB {
  background: #ffffff;
  padding-top: 2em;
  padding-bottom: 9em;
}
.Footsy .containerB .float {
  padding-top: 1em;
}
.Footsy .containerB .float .topDawg {
  margin-bottom: 2.3em;
  cursor: default;
}
.Footsy .containerB .float span {
  cursor: default;
  color: #8a8a8a;
  display: block;
  line-height: 1.5em;
  margin-top: 0.9em;
  text-align: center;
}
.Footsy .containerB .float .u {
  cursor: pointer;
  text-decoration: underline;
}
.Footsy .containerB .float .u:hover {
  color: #3d3d3d;
}

.values .showcase {
  align-items: center;
}
.values .showcase .cleany {
  height: 11em;
  width: 11em;
  margin-top: 1em;
}
.values .showcase .clean {
  width: 11em;
}

.News .container {
  text-align: center;
}
.News .container .imgHolder {
  margin-bottom: 1em;
}
.News .container .txtHolder span {
  font-size: 1.1em;
  font-weight: 200;
}
.News .container .txtHolder h1 {
  font-size: 2.5em;
  height: 3.5em;
}
.News .container .buttonHolder button {
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  padding: 0.9em 2.1em;
  font-size: 1em;
  border: solid rgb(91, 92, 92) 1.8px;
  background: none;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.News .container .buttonHolder button:hover {
  opacity: 1;
  color: black;
  background: rgb(222, 225, 228);
}
.News .container .buttonHolder button:active {
  opacity: 1;
  color: white;
  background: none;
}

.picturelayout {
  display: flex;
  flex-direction: column;
  gap: 5em;
  justify-content: center;
  align-items: center;
  padding: 4em;
  padding-top: 3em;
}
.picturelayout img {
  width: 17em;
  border-radius: 10px;
}
.picturelayout .rowBSS {
  display: flex;
  gap: 2.9em;
  align-items: top;
}
.picturelayout .rowBSS .solo img {
  height: 38em;
  width: 56em;
  -o-object-fit: cover;
     object-fit: cover;
}
.picturelayout .rowBSS .rowy {
  display: flex;
  gap: 2em;
}
.picturelayout .rowBSS .ditto {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.ohio {
  padding-top: 0;
  background: #ffffff;
  align-items: right;
  display: flex;
  justify-content: right;
  padding-right: 16em;
}

.picTower {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("../Resources/Jor-DSC00689-Edit.jpg");
  background-position: -80em -1em;
  background-repeat: no-repeat;
  height: 79em;
  width: 60%;
  padding-left: 3em;
  padding-top: 12em;
}
.picTower .textBox {
  position: fixed;
  top: 15em;
  left: 6em;
}
.picTower .textBox h1 {
  font-weight: 100;
  margin: 0;
  margin-bottom: 10px;
  font-size: 5em;
  line-height: 90%;
  color: #e7e7e7;
  text-shadow: 1px 1px 5px #3b3b3b;
}
.picTower .textBox span {
  cursor: default;
  font-size: 1.3em;
  margin-top: 2.5em;
  color: #e7e7e7;
  text-shadow: 1px 1px 4px #2b2b2b;
}

.booking-form-container {
  scale: 0.8;
  width: 30em;
  margin: 0 auto;
  margin-top: 6em;
  padding: 3em 2em;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 4px 6px 7px rgba(1, 1, 1, 0.1);
  font-size: 1.2em;
}

.booking-form-container h2 {
  display: none;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #555;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
}

.submit-button {
  background-color: #4caf50;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2em;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #45a049;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.success-message {
  scale: 1.2;
  position: absolute;
  top: 60em;
  left: 20%;
  z-index: 10000;
  background-color: #dff0d8;
  color: #3c763d;
  box-shadow: 2px 2px 2px black;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
}

.error-message {
  background-color: #f2dede;
  color: #a94442;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 15px;
  text-align: center;
}

#last {
  order: 10;
}

.react-datepicker {
  margin-top: 8px;
  scale: 1.05;
  font-size: 1.4em;
  width: -moz-max-content;
  width: max-content;
  order: 0;
}
.react-datepicker:hover {
  scale: 1.2;
}

.react-datepicker__header {
  font-size: 1em;
  background-color: #f0f0f0;
}
.react-datepicker__header h2 {
  display: block;
}

.react-datepicker__aria-live {
  display: block;
  font-size: 1.9em;
  right: 3em;
}

.react-datepicker__day--disabled {
  font-size: 0.9em;
  color: #ccc;
  text-decoration: line-through;
}

.custom-input {
  font-size: 0.2em;
  border: 2px solid #4caf50;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.custom-popper {
  font-size: 0.2em;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  width: 1000px;
}

.react-datepicker__week {
  font-size: 0.9em;
}

.submit-button {
  order: 11;
  margin-top: 1.3em;
  color: #f8f8f8;
  width: 100%;
  font-weight: 200;
  padding: 0.9em 2.7em;
  font-size: 1.3em;
  border: none;
  background: black;
  border-radius: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
.submit-button:hover {
  color: rgb(50, 50, 50);
  background: rgb(135, 135, 135);
}
.submit-button:active {
  color: rgb(32, 32, 32);
  background: none;
}

@keyframes spinno {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
.spin-doctor {
  margin: 5em 0;
  border-radius: 20px;
  background: #dddddd;
  box-shadow: 2px 2px 8px #383838;
  padding: 5em 3em;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
.spin-doctor .Spin {
  animation-name: spinno;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: forward;
}
.spin-doctor .Spin img {
  width: 15em;
}
.spin-doctor .textholder {
  margin-top: 3em;
}
.spin-doctor .textholder span {
  font-weight: 100;
  font-size: 1.8em;
}

@media only screen and (max-width: 530px) {
  .NavBar {
    padding: 1em 1em;
    display: none;
    position: fixed;
    width: 100%;
    z-index: 10000;
    color: #dddddd;
  }
  .NavBar button .mens {
    display: inline-block;
  }
  .NavBar .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0em;
    padding-bottom: 1.1em;
  }
  .NavBar .container .rightboy {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: right;
    gap: 10em;
  }
  .NavBar .container .rightboy .logo {
    padding: 0;
    padding-top: 5px;
    display: flex;
    align-items: center;
  }
  .NavBar .container .rightboy .logo .logoimage {
    width: 4em;
  }
  .NavBar .container .closedNav {
    display: none;
    font-weight: lighter;
    text-shadow: 4px 3px 5px rgb(0, 0, 0);
  }
  .NavBar .container .navigation {
    z-index: 900000000000000;
    display: flex;
    font-weight: lighter;
    text-shadow: 4px 3px 5px rgb(0, 0, 0);
    position: fixed;
    top: -1em;
    right: 0;
    flex-direction: column;
    background: #fff;
    padding: 2em;
    height: 100%;
    width: 100%;
    padding-top: 0;
  }
  .NavBar .container .navigation .womens {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 20px;
  }
  .NavBar .container .getstarted {
    display: none;
  }
  .Nav {
    padding: 0.5em 3.1em;
    padding-bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 100000000000;
    background-color: #ffffff;
  }
  .Nav .olodo {
    display: none;
  }
  .Nav .container {
    display: flex;
    justify-content: space-between;
    padding: 0 0.1em;
    padding-right: 1em;
    align-items: center;
  }
  .Nav .container .rightboy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .Nav .container .rightboy .sololink {
    font-weight: 100;
  }
  .Nav .container .rightboy .logo {
    padding: 0;
    padding-top: 5px;
    display: flex;
    align-items: center;
  }
  .Nav .container .rightboy .logo .logoimage {
    height: 3em;
    zoom: 1.3;
    margin: 0.7em 0;
  }
  .Nav .container .closedNav {
    cursor: pointer;
    color: rgb(37, 37, 37);
    display: flex;
    gap: 3em;
    font-weight: lighter;
    padding: 0;
    justify-content: left;
    align-items: center;
  }
  .Nav .container .getstarted {
    display: none;
    align-items: center;
    gap: 1.5em;
    transition: ease-in-out 2s;
  }
  .Nav .container .getstarted .getStarted {
    width: -moz-fit-content;
    width: fit-content;
    font-weight: bold;
    padding: 0.9em 2.1em;
    font-size: 1em;
    border: solid rgb(91, 92, 92) 1.8px;
    background: none;
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    font-weight: lighter;
    border: none;
    transition: linear 0.2s;
    opacity: 0.7;
  }
  .Nav .container .getstarted .getStarted:hover {
    opacity: 1;
    color: black;
    background: rgb(222, 225, 228);
  }
  .Nav .container .getstarted .getStarted:active {
    opacity: 1;
    color: white;
    background: none;
  }
  .Nav .container .getstarted .getStarted:hover {
    opacity: 1;
    color: rgb(37, 37, 37);
    background: none;
  }
  .Nav .mens {
    display: block;
  }
  .Nav .mens:hover .ops {
    height: 4px;
  }
  .Nav .womens {
    display: none;
  }
  .banner {
    background-color: rgb(1, 145, 145);
    padding: 1em 0.5em;
    font-size: 1.1em;
    font-weight: 200;
    position: relative;
  }
  .banner .cont {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5em;
  }
  .banner .cont span {
    color: #f5f5f5;
    text-align: center;
  }
  .banner .cont button {
    display: flex;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 40%;
  }
  .banner .cont button svg {
    scale: 0.5;
  }
  .BigCaro {
    position: relative;
    max-height: -moz-min-content;
    max-height: min-content;
  }
  .BigCaro img {
    width: 100%;
  }
  .BigCaro button {
    color: #f8f8f8;
    opacity: 0.6;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 200;
    padding: 0.9em 2.7em;
    font-size: 1.2em;
    border: none;
    background: rgb(82, 82, 82);
    border-radius: 10px;
    cursor: pointer;
    transition: ease-in-out 0.2s;
    scale: 1;
  }
  .BigCaro button:hover {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    background: rgb(49, 49, 49);
  }
  .BigCaro button:active {
    opacity: 1;
    color: rgb(32, 32, 32);
    background: none;
  }
  .BigCaro .rootbeer {
    position: absolute;
    top: 12.2em;
    left: 56em;
    padding: 2em;
    padding-top: 8px;
    display: flex;
    flex-direction: column;
  }
  .BigCaro .rootbeer h1 {
    font-weight: 100;
    margin: 0;
    font-size: 5em;
    line-height: 90%;
    color: #e7e7e7;
    text-shadow: 1px 1px 5px #3b3b3b;
  }
  .BigCaro .rootbeer span {
    cursor: default;
    font-size: 1.3em;
    margin-top: 0.5em;
    color: #e7e7e7;
    text-shadow: 1px 1px 4px #2b2b2b;
  }
  .BigCaro .rootbeer button {
    margin-top: 2em;
    font-weight: 100;
    color: #3d3d3d;
    background-color: white;
    box-shadow: 1px 1px 4px #2b2b2b;
  }
}
@media only screen and (max-width: 1236px) {
  .NavBar {
    padding: 1em 3.1em;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10000;
  }
  .NavBar .mens {
    display: inline-block;
  }
  .NavBar .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 0.2em;
    padding-bottom: 1.1em;
  }
  .NavBar .container .rightboy {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 13em;
  }
  .NavBar .container .rightboy .logo {
    padding: 0;
    padding-top: 5px;
    display: flex;
    align-items: center;
  }
  .NavBar .container .rightboy .logo .logoimage {
    width: 1em;
  }
  .NavBar .container .closedNav {
    display: none;
    font-weight: lighter;
    text-shadow: 4px 3px 5px rgb(0, 0, 0);
  }
  .NavBar .container .navigation {
    z-index: 900000000000000;
    display: flex;
    justify-content: right;
    font-weight: lighter;
    text-shadow: 4px 3px 5px rgb(0, 0, 0);
    position: fixed;
    top: -1em;
    right: 0;
    gap: 10em;
    flex-direction: column;
    background: #8d8d8d;
    padding: 2em;
    padding-top: 0;
    height: 100%;
    width: 100%;
  }
  .NavBar .container .navigation .womens {
    display: inline-block;
    position: absolute;
    top: 2em;
    right: 4em;
  }
  .NavBar .container .getstarted {
    display: none;
  }
}/*# sourceMappingURL=Oriflae.css.map */